@charset 'UTF-8';

/*
Em HTML id é = a # ( só um por elemento )
Em HTML class é = a . ( varios elementos )
*/

body{
    background-color: rgb(124, 218, 124);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(30, 88, 30);
}
h1#principal{
    text-align: center;
    background-color: rgb(30, 88, 30);
    color: white;
}
h2{
    color: rgb(3, 131, 3);
}
.basico{
    color: rgb(0, 255, 0);
    font-weight: bold;
}
.intermediario{
    color: yellow;
    font-weight: bold;
}
.avancado{
    color: red;
    font-weight: bold;
}
.destaque{
    background-color: yellowgreen;
}